html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    background-color: #2E2E2E;
    padding: 30px;
    text-align: center;
    min-height: 100vh;
    width: 100%;
}

.styleInput {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
}
.styleInput:focus{
    outline: 2px solid purple;
}
.forms {
    background-color: white;
    margin: 0 auto;
    width: 25vw;
    padding: 14px 20px;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

#submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}

.check {
    margin: 5px auto;
}