.header {
    height: 20vh;
    padding: 2%;
    background-color: #042940;
}

.content {
    height: 80vh;
    background-color: #EEEEEE;
    padding: 20px;
}

.cardFeedback {
    margin: 0 auto;
    text-align: center;
    padding: 1% 15%;
    width: 60vw;
    background-color: #d9d9d9;
}

.description {
    font-style: italic;
    margin-bottom: 3%;
}

.inputsDiv {
    text-align: center;
    display: inline-block;
    margin-bottom: 3%;
}

.input {
    margin: 0 auto;
    display: block;
}

.checkboxs {
    float: left;
    margin-left: 10px;
}

#submitButton {
    color: white;
    border: none;
    background-color: #042940;
    padding: 10px 60px;
}

#submitButton:hover {
    background-color: #07598b;
    cursor: pointer;
}

.level{
    display: none;
}

input[type="radio"] {
    height: 25px;
    width: 25px;
    background-color: brown;
}