.header {
    min-height: 15vh;
}

.header_search {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 7vh;
    background-color: yellow;
}

.hdr_navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    min-height: 8vh;
    padding: 10px;
    background-color: yellow;
    border: solid 1px black;
}

.hdr_nav_links {
    color: black;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    background-color: #d3d3d3;
}

.benefities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    min-height: 15vh;
    width: 80vw;
    padding: 20px;
    margin-top: 1%;
    border-radius: 25px;
    background-color: white;
}

.products_cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    align-items: stretch;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    overflow: hidden;
    transition: 0.3s;
    height: 200px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
}

.description {
    text-align: left;
    background-color: white;
    padding: 2px 16px;
}

#select{
    margin: 10px 20px;
}

@media (max-width: 500px) {
    .benefities {
        display: none;
    }
}